.register{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
background:#f4f7fb;
font-family:Arial;
}

.register h2{
margin-bottom:20px;
color:#1e3a8a;
}

.register input{
width:250px;
padding:10px;
margin:8px;
border:1px solid #ccc;
border-radius:6px;
}

.register button{
margin-top:10px;
width:120px;
padding:10px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.register button:hover{
background:#1d4ed8;
}